
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dochádzkový Systém</title>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>



</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin") || User.IsInRole("Uctovnicka"))
                    {
                        <li><a href="@Url.Action("Zaznamy","Home")">Záznamy</a></li>
                        <li><a href="@Url.Action("ZaznamOpravy","Home")">Opraviť Záznamy</a></li>
                        <li><a href="@Url.Action("DochadzkaMesiac","Home")">Mesačná dochádzka</a></li>
                        <li><a  id="Excel" href="@Url.Action("CreateExcel","Home")">Excel Download</a></li>
                        if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("KontrolaZmien","Home")">Zmeny záznamov</a></li>
                        }
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Prihlásený: @User.Identity.Name</span></a> 
                        <ul class="dropdown-menu">
                            <li><a id="UpdateHeslo"><span class="glyphicon glyphicon-cog"> Zmeniť heslo</span></a></li>
                            <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"> Odhlásiť</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="ZmenHeslo" style="display:none" title="Zmena Hesla">
        @using (Ajax.BeginForm("ZmenaHesla", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }))
        {
            <div class="col-md-10">
                <div>
                    @Html.Label("Staré heslo")
                    @Html.Password("stareHeslo", "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div>
                    @Html.Label("Nové heslo")
                    @Html.Password("noveHeslo", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div>
                    @Html.Label("Kontrola nového hesla")
                    @Html.Password("noveHesloKontrola", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <input class="btn btn-success" style="margin-top:5px;width:100px;margin-left:27px" type="submit" value="Uloz" />

            </div>
        }
    </div>

    <div id="ajaxLoaderDiv" style="position:fixed; top:0px; left:0px; z-index:1234; display:none;  height: 100%;width: 100%;background-color:cornsilk">
        <img  src="@Url.Content("~/icons/load.gif")" alt="Loading..." class="ajax-loader centered" />
    </div>

    <div class="container body-content">
        @RenderBody()
       
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


</style>
<script src="~/Scripts/jquery.jeditable.datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
<script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
<script>


    function onSuccess(data) {
        alert(data.nameError);
        if (data.nameError == "Heslo úspešne zmenené") {
            $('#ZmenHeslo').dialog('close');
        }

    }
    $(document).ready(function () {
        $('#Excel').click(function () {     
            $('#ajaxLoaderDiv').show();
            setTimeout(function () {
                $('#ajaxLoaderDiv').hide();
            }, 4500);
        });
        $('#ZmenHeslo').dialog({
            resizable: false,
            autoOpen: false,
            height: 280,
            width: 220,
            modal: true,
            show: {
                effect: "fold",
                duration: 500
            },
            hide: {
                effect: "explode",
                duration: 500
            }
        });

        $('#UpdateHeslo').click(function () {
            $('#ZmenHeslo').dialog("open");
        });

    });

</script>




