
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/MojBlbyLayout.cshtml";
}

<style>
    #formular {
        width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>
<div id="formular">
    @using (Ajax.BeginForm("ZmenaHesla", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }))
    {
        <div class="col-md-10">
            <div>
                @Html.Label("Staré heslo")
                @Html.Password("stareHeslo", null, new { htmlAttributes = new {@class = "form-control" } })
            </div>
            <div>
                @Html.Label("Nové heslo")
                @Html.Password("noveHeslo", null, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.Label("Kontrola nového hesla")
                @Html.Password("noveHesloKontrola", null, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <input type="submit" value="Uloz" />

        </div>
    }
</div>
<script>

    function onSuccess(data) {
        alert(data.nameError);
        if (data.nameError == "Heslo úspešne zmenené") {
            var url = '/Home/Index';
            window.location.href = url; 
        }
    }
</script>
