@using daco3.Models;
@using PagedList;
@using PagedList.Mvc;
@using System.Linq;
@{
    ViewBag.Title = "Zaznami";
    Layout = "~/Views/Shared/MojBlbyLayout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 15);
    grid.Bind(source: Model);
}
<link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@model List<GridTabulka>


<style>
    #table {
        margin-top: 100px;
    }
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
   }
  

</style>


<body>
    <div id="table">
        @using (Html.BeginForm("Zaznami", null, FormMethod.Get))
        {
        <div >
           
                @Html.Label("Meno")
                @Html.TextBox("userName", null, new { htmlAttributes = new { @class = "form-control" } })
                
                    @Html.Label("Datum od kedy")
                    @Html.TextBox("zaznamCasOd", "", new { @readonly = "readonly", @class = "datumPick" })
               
                    @Html.Label("Datum do kedy")
                    @Html.TextBox("zaznamCasDo", DateTime.Now.Date.ToString("dd.MM.yyyy"), new { @readonly = "readonly", @class = "datumPick" })
               
                    <input  class="btn btn-info" style="margin-bottom:2px" id="butSubmit" type="submit" value="Hladaj" />
                
             



        </div>
}

        @grid.GetHtml(
              mode: WebGridPagerModes.All,
              htmlAttributes: new { id = "ZaznamiGrid"},
             rowStyle: "table-row-clickable",
             footerStyle: "table-pager",
             tableStyle: "table table-responsive table-bordered table-hover",
                                  columns: grid.Columns(
                                                       grid.Column(columnName: "Meno", header: "Meno"),
                                                       grid.Column(columnName: "Datum", header: "Datum"),
                                                       grid.Column(header: "Odpracovane", format: @<text> @item.Odpracovane </text>),
                                                   grid.Column(header: "Dochadzka(prichod-odchod)", format: @<text> @if (item.Odpracovane == "0")
                                                   {<div> @Html.ActionLink((string)item.SkratDoch, "ZaznamPodrobne", "Home", new { id = item.ZaznamId }, null)</div>}
                                                   else
                                                   {<div> @item.SkratDoch </div>} </text>)

              ))


    </div>




</body>


@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
      


        $(document).ready(function () {
           

            //kalendar styl
            $('.datumPick').datepicker({
                dayNamesMin: ["Po", "Ut", "Str", "Stv", "Pi", "So", "Ne"],
                dayNames: ["Pondelok", "Utorok", "Streda", "Štvrtok", "Piatok", "Sobota", "Nedela"],
                monthNames: ["Január", "Február", "Marec", "Apríl", "Máj", "Jún", "Júl", "August", "September", "Október", "November", "December"],
                dateFormat: 'dd.mm.yy',
                controlType: 'select',
                autoclose: true

            });
            //autocompelte
            $('#userName').autocomplete({
                source: '/Home/CompleteName'
            });

            $('#ZaznamiGrid > tbody > tr').each(function (index) {

                if ($(this).children('td:nth-child(3)').text() == " 0 ") {
                    $(this).children('td').css("background-color", "#ffcccc");
                }
            }); 
            });  
    </script>
}